<h1><%= "#{@team.name} show view" %></h1>
<h3>Notes:</h3>
<% @notes.each do |n| %>
  <h4><%= n.content %></h4> <p>Created by <%= User.find(n.user_id).first_name %> on <%= n.created_at %></p>
<% end %>
