
<div class="col-md-4 left-margin-10px">
  <h1> Schedule</h1>
  <% @dates_array.each do |date| %>
    <h2><%= date %></h2>
    <ul>
      <% @games_hash[date].each do |game| %>
          <li><%= link_to "#{game.home.name} v. #{game.visitors.name}", decide_game_view_url(id: game) %> </li>
      <% end %>
    </ul>
  <% end %>


  <%= render partial: 'games/games_tabs' %>
</div>
