/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";


@media only screen and (max-width: 767px) {
  html {font-size: 80%;}

  .container {
    width: auto;
  }

}
@media only screen and (min-width: 768px) {
  html {font-size: 90%;}

  .container {
    width: 768px;
  }
}



 @media only screen and (min-width: 992px) {
   html {font-size: 100%;}

   .container {
     width: 992px;
   }
 }


@media only screen and (min-width: 1200px) {
  html {font-size: 100%;}

  .container {
    width: 1200px;
    background-color: #eee;
  }

  .col-md-7half {
    width: 62.5%;
  }
  .col-md-9half {
    width: 79.16%;
  }
}

.main-div {
  // border-style: solid;
  // border-width: medium;

  margin: 3px;
  border-radius: 6px;
  padding: 15px;
  overflow: auto;
}

.dirt {
  background-color: #c4856a;
}

.grass {
  background-color: #b1c489;

}

.col-xs-7half, .col-sm-7half, .col-md-7half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-9half, .col-sm-9half, .col-md-9half {
  position: relative;
  min-ehight: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.cabl-img {
  width: 100%;


  padding: 15px;
}


 .container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   min-height: 1000px;
 }
 .user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }


 .left-margin-10px {
  margin-left: 10px;
}
 .display-flex {
   display: flex;
 }

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #bfc6b1
}

.stats-input {
  padding-right: 0px;
  padding-left: 0px;
  width: 35px;
  margin: 0px;
  border: none;
  background-color:rgba(255, 255, 255, 0);
}

.score-table {
  width: 100%
}

.field {
  font-size: 100%;
  text-align: center;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 0%;
  border: none;
  background-color:rgba(255, 255, 255, 0);
}



.stats-table {

}



.stats-heading {
  margin-top: 0px;
}
